
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    height: 20%;
    margin: auto;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(152, 214, 152);
    color: white;
}
.logout-butt {
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
    transition: background 0.2s ease;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}
.login-title {
    font-size: -webkit-xxx-large
}
.login-message {
    font-size: 40px;
}
.login-butt {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #1DB954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.login-butt:hover {
  background-color: #1ed760;
}


