body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.components {
    width: 100%;
}
header {
    box-sizing: border-box;
    height: 20%;
    margin: auto;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(152, 214, 152);
    color: white;
}
.logout-butt {
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
    transition: background 0.2s ease;
}
.logout-butt:hover {
    background-color: green;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}
.login-title {
    font-size: -webkit-xxx-large
}
.login-message {
    font-size: 40px;
}
.login-butt {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #1DB954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.login-butt:hover {
  background-color: #1ed760;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.input {
    width: 200px;
    padding: 10px 60px;
    margin-top: 50px;
    border-radius: 25px;
    margin: 50px 0;
    text-align: center;
}

.searchbutt {
    border:none;
    margin-left: 15px;
    border-radius: 25px;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
}
.searchbutt:hover {
    background-color: #1DB954;
}

.displays {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.playlist {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
    flex-direction: column;
}

.searchresult {
    display: flex;
    flex-direction: column;
}

.trackContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}